<p id="notice"><%= notice %></p>


<h1 class="text-success"><%=@playlist.title%></h1>

<h4><%= @playlist.description%> </h4>

<% if @playlist.users[0].id == current_user.id %>
  <%= link_to 'Edit', edit_playlist_path(@playlist), style:"color:black" %> |
  <%= link_to 'Delete', @playlist, method: :delete, data: { confirm: 'Are you sure?' }, style:"color:black" %> |
<% end %>

<%= link_to 'Back', playlists_path, style:"color:black" %>

<h3>Songs</h3>

<table class="table table-dark">
<tbody>
<% @playlist.songs.each do |track| %>
  <tr>
    <td class = "w-75"> <%= link_to track.title , song_show_url(id: track.spotify_id, artist_id: track.artist.spotify_id), style:"color:white"%></td>
    <% if @playlist.users[0].id == current_user.id %>
      <td class="w-25"> <%= link_to 'Remove', drop_song_url(song_id: track.id, playlist_id: @playlist.id), data: { confirm: 'Are you sure?' }, style:"color:grey" %></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>


<h3>Subscribers</3>

<% @playlist.users.in_groups_of(4, false).each do |group|%>
  <div class="row">
    <% group.each do |user| %>
      <div class="col-3">
        <% if @playlist.users[0].id == user.id %>
          <div class="card bg-white border-success text-white">
        <% else %> 
          <div class="card bg-dark border-success text-white">
        <% end %> 
          <div class="card-body">
            <div class="card-link" ><%= link_to user.username, user, style:"color:#5cb85c" %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>

<% if !@playlist.users.include?(current_user) %>
  <%= link_to 'ADD PLAYLIST', add_playlist_url(playlist_id:@playlist.id, user_id:current_user.id) %>
<% end %>


